/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.text-1 {
    margin-left: 70px;
    margin-top:100px;
    font-weight: bold;
    font-size:60px;

    color: white;
}

.text-2 {
    margin-left: 70px;
    margin-top: -55px;
    font-weight: bold;
    font-size:60px;

    color: white;
}

.text-3 {
    margin-left: 70px;
    margin-top: -20px;
    font-weight: lighter;
    font-size:20px;

    color: white;
}

.text-4 {
    margin-left: 70px;
    margin-top: 50px;
    font-weight: bold;
    font-size:60px;

    color: white;
}

.text-5 {
    margin-left: 70px;
    margin-top:-20px;
    font-weight: lighter;
    font-size:20px;
    padding-right: 15px;

    color: white;
}

.text-6 {
    margin-left: 70px;
    margin-top:40px;
    font-weight: lighter;
    font-size:20px;

    color: white;
}

iframe {
    margin-top: 30px;
    margin-left: 70px;
    border-radius: 30px;
    border-style: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    transition: transform 0.3s, box-shadow 0.3s;
}

iframe:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.19);
}
.button {
    display: inline-block;
    padding: 15px 25px;
    color: white;
    background-color: #da3e99;
    text-decoration: none;
    border-radius: 30px;

    margin-top:10px;
    margin-left: 70px;

    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.19);
}

.button:hover {
    display: inline-block;
    padding: 15px 25px;
    color: white;
    background-color: #5bc6e0;
    text-decoration: none;
    border-radius: 30px;

    margin-top:10px;
    margin-left: 70px;

    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.19);
}

.button2 {
    display: inline-block;
    padding: 15px 25px;
    color: white;
    background-color: #da3e99;
    text-decoration: none;
    border-radius: 30px;
    width: 200px;
    text-align: center;


    margin-top:40px;
    margin-left: 550px;
    margin-bottom: 50px;

    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.19);
}



.button2:hover {
    display: inline-block;
    padding: 15px 25px;
    color: white;
    background-color: #5bc6e0;
    text-decoration: none;
    border-radius: 30px;
    width: 200px;
    text-align: center;


    margin-top:40px;
    margin-left: 550px;
    margin-bottom: 100px;

    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.19);
}

.button3 {
    display: inline-block;
    padding: 15px 25px;
    color: white;
    background-color: #da3e99;
    text-decoration: none;
    border-radius: 30px;

    margin-top:10px;
    margin-left: 70px;

    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.19);
}

.button3:hover {
    display: inline-block;
    padding: 15px 35px;
    color: white;
    background-color: #5bc6e0;
    text-decoration: none;
    border-radius: 30px;

    margin-top:30px;


    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.19);
}

.button4 {
    display: inline-block;
    padding: 15px 25px;
    color: white;
    background-color: #da3e99;
    text-decoration: none;
    border-radius: 30px;

    margin-top:10px;
    margin-left: 500px;

    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.19);
}

.button4:hover {
    display: inline-block;
    padding: 15px 35px;
    color: white;
    background-color: #5bc6e0;
    text-decoration: none;
    border-radius: 30px;

    margin-top:25px;


    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.19);
}


.img {
    
}



.content-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-content {
    flex: 1;
    padding-right: 20px;
}

.right-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-content img {
    max-width: 100%;
    height: auto;
}



footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.p1 {
    margin-top: -10px;
}

.photo2 {
 width: 300px;
 height: 250px;
}

